<p><!DOCTYPE html>
<html ng-app="courses">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.3.5.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script>
            Parse.initialize("cfjEGfMBX9PMvwb1ien9G5J6ttN6C3zDozBoL0Kp", "E4gtLnecX313jK3D8iSbreyDKUyt09aKTaw8A6Ki");
        </script>
    </head>
    <body ng-controller="courseController as courseCtrl">
    <h1 init="addingCourse = false">Golf Course Database</h1>
        <div>
            <form name="signIn">
                <input ng-show="SignedIn === false" ng-model="Details.Username" placeholder="Username" required></input>
                <input ng-show="SignedIn === false" ng-model="Details.Password" type="{{inputType}}" placeholder="Password" required></input>
                <a href ng-show="SignedIn === false" ng-click="courseCtrl.signIn(Details)" class="myButton">Sign In</a>
                <a href ng-show="SignedIn === false" ng-click="courseCtrl.signUp(Details)" class="myButton">Sign Up</a>
                <p ng-show="PassWrong === true">You Username/Password Was Incorrect</p>
                <p ng-show="SignedIn === true">Hello, You Are Logged In As {{Username}}</p>
                <a href ng-show="SignedIn === true" ng-click="courseCtrl.logOut(Details)" class="myButton">Log Out</a>
            </form>
        </div>
        <div init="clicked = false, showHoles = false; deleting = false" ng-repeat="courseDatabase in courseCtrl.courseDatabases">
            <h2>
                <h3>{{courseDatabase.name}}</h3>
                <a href ng-show="showHoles !== true" ng-click="showHoles = true" class="myButton">Show Holes</a>
                <a href ng-show="showHoles === true" ng-click="showHoles = false" class="myButton2">Hide Holes</a>
                <a href ng-click="deleting = true" ng-show="clicked === true" class="myButton2">Delete</a>
                <h4 ng-show="deleting === true">Are You Sure?</h4>
                <a href ng-show="deleting === true" ng-click="courseCtrl.deleteCourse(courseDatabase)" class="myButton">Yes</a>
                <a href ng-show="deleting === true" ng-click="deleting = false" class="myButton2">No</a>
            </h2>
            <a href={{courseDatabase.geoLink}}>{{courseDatabase.location}}</a>
            <a href ng-show="courseDatabase.author === Username" ng-click="clicked = true; showHoles = true" class="myButton">Edit</a>
            <a href ng-show="clicked === true" ng-click="clicked = false; showHoles = false" class="myButton2">Cancel</a>
            <p class="splitterLine"><strong><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em><em>_</em>_</strong></p>
            <div>
                <form name="EditCourse" ng-submit="courseCtrl.updateCourse(courseDatabase)" novalidate>
                    <input ng-model="courseDatabase.name" ng-show="clicked === true" placeholder="Name" required></input>
                    <input ng-model="courseDatabase.location" ng-show="clicked === true" placeholder="Address" required></input>
                    <input ng-model="courseDatabase.geoLink" ng-show="clicked === true" placeholder="Google Maps Link" required></input>
                    <input type="submit" value="Submit" ng-show="clicked === true" ng-click="clicked = false"></input>
                </form>
            </div>
			<table ng-show="showHoles === true" border=1>
				<tr>
					<td>Hole number</td>
					<td data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]" align="center">{{i}}</td>
				</tr>
				<tr>
					<td>Par</td>
					<td data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]" ng-show="clicked!==true">{{courseDatabase.pars[i-1]}}</td>
					<td data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]" ng-show="clicked===true">
						<input width="12" align="middle" ng-model="courseDatabase.pars[i-1]" placeholder="Par"/>
					</td>
				</tr>
				<tr>
					<td>Stroke Index</td>
					<td data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]" align="center">{{courseDatabase.strokeIndex[i-1]}}</td>
				</tr>
				<tr>
					<td>Coords</td>
					<td data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]" align="center">{{courseDatabase.holeGeoLats[i-1]}}, {{courseDatabase.holeGeoLongs[i-1]}}</td>
				</tr>
			</table>
            <ul ng-show="showHoles === true">
                <li>
                    Hole 1 Par - {{courseDatabase.pars[0]}}, Hole 1 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[0]}},{{courseDatabase.holeGeoLongs[0]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[0]}}, {{courseDatabase.holeGeoLongs[0]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[0]}}
                </li>
                <li>
                    Hole 2 Par - {{courseDatabase.pars[1]}}, Hole 2 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[1]}},{{courseDatabase.holeGeoLongs[1]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[1]}}, {{courseDatabase.holeGeoLongs[1]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[1]}}
                </li>
                <li>
                    Hole 3 Par - {{courseDatabase.pars[2]}}, Hole 3 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[2]}},{{courseDatabase.holeGeoLongs[2]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[2]}}, {{courseDatabase.holeGeoLongs[2]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[2]}}
                </li>
                <li>
                    Hole 4 Par - {{courseDatabase.pars[3]}}, Hole 4 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[3]}},{{courseDatabase.holeGeoLongs[3]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[3]}}, {{courseDatabase.holeGeoLongs[3]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[3]}}
                </li>
                <li>
                    Hole 5 Par - {{courseDatabase.pars[4]}}, Hole 5 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[4]}},{{courseDatabase.holeGeoLongs[4]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[4]}}, {{courseDatabase.holeGeoLongs[4]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[4]}}
                </li>
                <li>
                    Hole 6 Par - {{courseDatabase.pars[5]}}, Hole 6 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[5]}},{{courseDatabase.holeGeoLongs[5]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[5]}}, {{courseDatabase.holeGeoLongs[5]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[5]}}
                </li>
                <li>
                    Hole 7 Par - {{courseDatabase.pars[6]}}, Hole 7 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[6]}},{{courseDatabase.holeGeoLongs[6]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[6]}}, {{courseDatabase.holeGeoLongs[6]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[6]}}
                </li>
                <li>
                    Hole 8 Par - {{courseDatabase.pars[7]}}, Hole 8 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[7]}},{{courseDatabase.holeGeoLongs[7]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[7]}}, {{courseDatabase.holeGeoLongs[7]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[7]}}
                </li>
                <li>
                    Hole 9 Par - {{courseDatabase.pars[8]}}, Hole 9 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[8]}},{{courseDatabase.holeGeoLongs[8]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[8]}}, {{courseDatabase.holeGeoLongs[8]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[8]}}
                </li>
                <li>
                    Hole 10 Par - {{courseDatabase.pars[9]}}, Hole 10 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[9]}},{{courseDatabase.holeGeoLongs[9]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[9]}}, {{courseDatabase.holeGeoLongs[9]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[9]}}
                </li>
                <li>
                    Hole 11 Par - {{courseDatabase.pars[10]}}, Hole 11 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[10]}},{{courseDatabase.holeGeoLongs[10]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[10]}}, {{courseDatabase.holeGeoLongs[10]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[10]}}
                </li>
                <li>
                    Hole 12 Par - {{courseDatabase.pars[11]}}, Hole 12 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[11]}},{{courseDatabase.holeGeoLongs[11]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[11]}}, {{courseDatabase.holeGeoLongs[11]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[11]}}
                </li>
                <li>
                    Hole 13 Par - {{courseDatabase.pars[12]}}, Hole 13 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[12]}},{{courseDatabase.holeGeoLongs[12]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[12]}}, {{courseDatabase.holeGeoLongs[12]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[12]}}
                </li>
                <li>
                    Hole 14 Par - {{courseDatabase.pars[13]}}, Hole 14 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[13]}},{{courseDatabase.holeGeoLongs[13]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[13]}}, {{courseDatabase.holeGeoLongs[13]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[13]}}
                </li>
                <li>
                    Hole 15 Par - {{courseDatabase.pars[14]}}, Hole 15 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[14]}},{{courseDatabase.holeGeoLongs[14]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[14]}}, {{courseDatabase.holeGeoLongs[14]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[14]}}
                <li>
                    Hole 16 Par - {{courseDatabase.pars[15]}}, Hole 16 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[15]}},{{courseDatabase.holeGeoLongs[15]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[15]}}, {{courseDatabase.holeGeoLongs[15]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[15]}}
                </li>
                <li>
                    Hole 17 Par - {{courseDatabase.pars[16]}}, Hole 17 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[16]}},{{courseDatabase.holeGeoLongs[16]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[16]}}, {{courseDatabase.holeGeoLongs[16]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[16]}}
                </li>
                <li>
                    Hole 18 Par - {{courseDatabase.pars[17]}}, Hole 18 Geo Position - 
                    <a href="https://www.google.co.uk/maps/&#64;{{courseDatabase.holeGeoLats[17]}},{{courseDatabase.holeGeoLongs[17]}},20z/data=!3m1!1e3">{{courseDatabase.holeGeoLats[17]}}, {{courseDatabase.holeGeoLongs[17]}}</a>, Hole 1 Stroke Index - {{courseDatabase.strokeIndex[17]}}
                </li>
            </ul>
            <p ng-show="clicked === true">Edit Hole Par</p>
            <form>
                <select ng-model="holeEditing" ng-show="clicked === true" name="holes">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                </select>
                <input ng-model="courseDatabase.pars[holeEditing - 1]" ng-show="clicked === true" placeholder="Par"/>
                <input ng-model="courseDatabase.strokeIndex[holeEditing - 1]" ng-show="clicked === true" placeholder="Stroke Index"/>
                <input ng-model="courseDatabase.holeGeoLats[holeEditing - 1]" ng-show="clicked === true" placeholder="Latitude"/>
                <input ng-model="courseDatabase.holeGeoLongs[holeEditing - 1]" ng-show="clicked === true" placeholder="Longitude"/>
            </form>
        </div>
        <a href ng-click="addingCourse = true" class="myButton" ng-show="SignedIn === true">Add Course</a>
        <a href ng-show="addingCourse === true" ng-click="addingCourse = false" class="myButton2">Cancel</a>
        <form name="AddCourse" ng-submit="courseCtrl.addCourse(addCourseDatabase)" ng-show="SignedIn === true" novalidate>
             <input ng-model="addCourseDatabase.name" ng-show="addingCourse === true" placeholder="Name" required></input>
             <input ng-model="addCourseDatabase.location" ng-show="addingCourse === true" placeholder="Address" required></input>
             <input ng-model="addCourseDatabase.geoLink" ng-show="addingCourse === true" placeholder="Google Maps Link" required></input>
             <input type="submit" value="Submit" ng-show="addingCourse === true" ng-click="addingCourse = false"></input>
             <p ng-show="addingCourse === true">You Can Edit Positions, Pars And Stroke Indexes Through The Edit Menu.</p>
        </form>
    </body>
</html></p>
